streamlit
spacy==3.7.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
matplotlib
scikit-learn
wordcloud
python-docx
openpyxl
networkx
pandas
gensim
textstat
sumy
plotly
seaborn
textblob
beautifulsoup4
ftfy
contractions
unidecode
cleantext
langdetect
requests
anthropic
python-dotenv
